{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ super() }} Sign up {% endblock title %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/auth.css') }}" crossorigin="anonymous">
{% endblock head %}

{% block header %}
	<div class="container">
		<div class="row ">
			<div class="col-md-4 m-auto pt-3">
				<div class="d-flex justify-content-center">
		      		<img style="width: 35px; height: 100%;" src="{{ url_for('main.static', filename='assets/warrior.png') }}">
			      	<h3 class="font-weight-normal pt-3"><a href="{{ url_for('main.landing')}}" class="text-dark issa-header-bold">Issa challenge</a></h3>
		      	</div>
			</div>
		</div>			  	  
    </div>
{% endblock header %}

{% block main %}
    <div class="container">
	    <div class="row justify-content-center mt-5"> 
	    	<div class="col-md-6 text-center">
	    		<div class="display-4">
	    			<i class="far fa-envelope"></i>
	    		</div>
	        	<div class="">
				  <h4 class="p-2 issa-header">Forgot your password ?</h4>
				  <p class="issa-header">Please give your email address, and we will send you an email with a reset link. </p>
				  <div class="text-left pb-5">
				  	<form method="POST" action="{{ url_for('auth.password_reset_request') }}">
				  		{{ form.hidden_tag() }}
						{{ wtf.form_errors(form, hiddens="only")}}
						{{ wtf.form_field(form.email, placeholder='e.g example@abc.com') }}
						{{ wtf.form_field(form.submit, class='btn btn-primary btn-block') }}				
				  	</form>
				  </div>
				</div>
	        </div>
	    </div>
	</div>
{% endblock main %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}