{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ super() }} Sign up {% endblock title %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/auth.css') }}" crossorigin="anonymous">
{% endblock head %}

{% block header %}
	<div class="pt-4 pb-4">
        <div class="container">
            <div class="row">
              <div class="col form-inline justify-content-center">
                    <h1 class="font-weight-normal ">
                        <a href="{{ url_for('main.landing')}}" class="text-dark app-title"><i class="fas fa-brain"></i> <strong>Kelaa</strong></a>
                    </h1>
              </div>
          </div>
        </div>                
    </div>
{% endblock header %}

{% block main %}
    <div class="container">
	    <div class="row justify-content-center mt-5"> 
	    	<div class="col-md-5 text-center">
	        	<div class="">
				  <h4 class="p-2 issa-header">Forgot your password ?</h4>
				  <p class="issa-header">Please give your email address, and we will send you an email with a reset link. </p>
				  <div class="text-left pb-5">
				  	<form method="POST" action >
				  		{{ form.hidden_tag() }}
						{{ wtf.form_errors(form, hiddens="only")}}
						{{ wtf.form_field(form.password) }}
						{{ wtf.form_field(form.password2) }}
						{{ wtf.form_field(form.submit, class='btn btn-primary btn-block') }}				
				  	</form>
				  </div>
				</div>
	        </div>
	    </div>
	</div>
{% endblock main %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}