<div class="card question-card">
	<div class="card-body">
		<div>
			<p>Deleting your account will delete everything tied to your account.</p>

			<p>If you’re absolutely sure enter your password to confirm</p>
			<form method="POST" action="{{ url_for('main.profile', username=user.username, tab=active_page) }}">
				{{ deleteform.hidden_tag() }}
			    {{ wtf.form_errors(deleteform, hiddens="only") }}
			    {{ wtf.form_field(deleteform.password, class="form-control form-inline mr-2")}}
			    {{ wtf.form_field(deleteform.submit, class="btn btn-danger btn-sm")}}
			</form>
		</div>
	</div>
</div>