{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{super()}}| Add a question {% endblock %}

{% block head %}
	{{ super() }}
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block main %}
    <div class="container main">
    	<div class="row">
    		<div class="col-md-6 m-auto pb-2 pt-2">
    			<h4>Add a question</h4>
    		</div>
    	</div>
    	<div class="row justify-content-center">
    		<div class="col-md-6">
    			{{ wtf.form_field(form.question) }}
		    	{{ wtf.form_field(form.answer_page) }}
		    	{{ wtf.form_field(form.answer, rows="8") }}
		    	{{ wtf.form_field(form.submit,  class="btn btn-primary btn-block") }}
    		</div>
    	</div>
    </div>
{% endblock main %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}