<!DOCTYPE html>
<html>
<head>
	{% block head %}
		  <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 	<title>{% block title %} Issa Challenge |{% endblock title %}</title>
	 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	 	<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
	 	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

	{% endblock head %}
</head>
<body >
	<div class="container app">
	<header role="header">
		{% block header %}
		{% endblock header %}
	</header>	
	<main role="main">
		{% block main %}
			
		{% endblock main %}
	</main>
	<footer role="footer" class="m-auto">
		{% block footer %}
			<div class="container text-center ">
			  <hr>
		      <p class="small font-weight-bold">Made with <i class="fas fa-heart"></i> by Shambekela 
		      	<a href="https://instagram.com/shambekela_" target="_blank" class="mr-2">
		      		<i class="fab fa-instagram"></i>
		      	</a>
		      	<a href="https://twitter.com/shambekela_" target="_blank">
		      		<i class="fab fa-twitter"></i>
		      	</a> <br>
		      	<span><a class="text-secondary" href="https://docs.google.com/forms/d/e/1FAIpQLSfTOY4nGPGqfLlmnRJJF8-2CwEWRAnxItKHP4nOTnTv_I8FAg/viewform?usp=sf_link" target="_blank">Give us feedback </a></span>
		      </p>
		    </div>
		{% endblock footer %}
	</footer>
	</div>

	<div class="scripts">
		{% block scripts %}
			<script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
			<script type="text/javascript" src="{{ url_for('main.static', filename='js/script.js') }}"></script>
			{{ moment.include_moment() }}
		{% endblock scripts %}
	</div>
</body>
</html>