<!DOCTYPE html>
<html>
<head>
	{% block head %}
		  <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 	<title>{% block title %} Kelaa |{% endblock title %}</title>
	 	<link rel="icon" href="{{ url_for('main.static', filename='assets/favicon.png')}}">
	 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	 	<link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='css/style.css')}}">
	 	<link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
	 	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	 	<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131799612-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-131799612-2');
		</script>
	{% endblock head %}
</head>
<body>
	<div class="app">
		<header role="header">
			{% block header %}
				<div class="top-navbar">
				    <div class="container">
					    <div class="row">
							  <div class="col-auto order-sm-1 form-inline">
						      		<h4 class="font-weight-normal ">
						      			<a href="{{ url_for('main.home')}}" class="text-light app-title"><i class="fas fa-brain"></i> <strong>Kelaa</strong></a>
						      		</h4>
						      </div>

						      <div class="col-auto order-sm-3 m-auto text-right">
						      	<a href="{{url_for('main.favourite') }}" class="text-white-50" id="navbarDropdown"><i class="fas fa-star"></i> Fav</a>
							    <a class="p-2 dropdown-toggle text-white-50 h6" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
							        {{ current_user.username | lower }}
						        </a>
						        <div class="dropdown-menu dropdown-menu-right">
						          <h6 class="dropdown-header">Signed in as {{ current_user.username}}</h6>
						          <a class="dropdown-item" href="{{ url_for('main.profile', username=current_user.username, tab='profile')}}">My profile</a>
						          <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
						        </div>
						  	   </div>

						      <div class="col-md-6 col-sm-6 order-sm-2 m-auto">
						      	<form action="{{ url_for('main.search')}}" method='GET'>
						      	<div class="input-group" id="adv-search">
					                <input type="text" name="q" class="form-control" placeholder="Search for questions..." />
					                <div class="input-group-btn">
					                    <div class="btn-group" role="group">
					                    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
					                    </div>
					                </div>
					            </div>
					        	</form>
						      </div>
						</div>
					</div>			  	  
			    </div>
			{% endblock header %}
		</header>	
		<main role="main">
			{% block main %}
				
			{% endblock main %}
		</main>
		<footer role="footer" class="m-auto">
			{% block footer %}
				<div class="container text-center ">
				  <hr>
			      <p class="small font-weight-bold">Made with <i class="fas fa-heart"></i> by Shambekela 
			      	<a href="https://instagram.com/shambekela_" target="_blank" class="mr-2">
			      		<i class="fab fa-instagram"></i>
			      	</a>
			      	<a href="https://twitter.com/shambekela_" target="_blank">
			      		<i class="fab fa-twitter"></i>
			      	</a> <br>
			      	<span><a href="https://goo.gl/forms/z3OVkjT8K37vldH62" target="_blank">Give us feedback! will be highly appreciated.</a></span>
			      </p>
			    </div>
			{% endblock footer %}
		</footer>
	</div>

	<div class="scripts">
		{% block scripts %}
			<script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
			<script type="text/javascript" src="{{ url_for('main.static', filename='js/script.js') }}"></script>
			{{ moment.include_moment() }}
			<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
		{% endblock scripts %}
	</div>
</body>
</html>