{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ super() }} Favourite {% endblock title %}

{% block head %} 
	{{ super() }}
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block main %}
    <div class="container main">
    	<div class="row">
    		<div class="col-md-8 m-auto p-3 channel-option-container">
    			<h2 class="d-inline">Favourite question(s)</h2>
    			<div class="text-right">  				
					<button class="btn btn-primary btn-sm main-review-button" data-toggle="modal" data-target="#review-modal"><i class="fas fa-play"></i> review</button>
    			</div>
    		</div>
    	</div>
    	<div class="row justify-content-center question-card-container">
			<div class="col-md-8">
				<div class="row justify-content-center">
		    		<div class="col-md-10">
		    			{% include 'includes/message_flash.html' %}
		    		</div>
		    	</div>
				<div class="">
    				{% if questions %}
    				    {% for question in questions %}
	    					<div class="card question-card">
			    				<div class="card-body">
			    					<div class="row d-flex">
			    						<div class="col-md-8 ml-2 mr-2" >
			    							<div class="card-text">
			    								<a class="m-0 text-dark" data-toggle="collapse" href="#question-{{ question.id}}" role="button"> {{loop.index}}. {{ question.text |capitalize }}</a>
			    							</div>
			    						</div>
			    						<div class="col-md-3 text-right">
			    							<!-- favourite question -->
			    							{% if question.favourite %}
		    								    <a data-key='{{ question.key }}' class="favourite-question mr-2">
				    								<span class="favourite-icon">
				    								    <i class="fas fa-star"></i>
				    								</span>
				    							</a>
		    								{% else %}
				    							<a data-key='{{ question.key }}' class="favourite-question mr-2 d-none question-card-option">
				    								<span class="favourite-icon">
				    								    <i class="far fa-star"></i>
				    								</span>
				    							</a>
		    								{% endif %}
			    						</div>
			    					</div>
			    				</div>
			    				<div class="collapse" id="question-{{ question.id}}">
			    					<div class="card-footer">
										<div>
											{% if (question.answer_page) %}
											    <div class="question-collapse">
											    	<ul class="list-unstyled">
														<li>
															<dd>Answer page</dd>
															<ul>
																<li><p>{{ question.answer_page }}</p></li>
															</ul>
														</li>
													</ul>
												</div>
											{% endif %}
											{% if (question.answer_text) %}
											    <div class="question-collapse">
													<ul class="list-unstyled">
														<li>
															<dd>Answer description</dd>
															<ul>
																<li><p>{{ question.answer_text }}</p></li>
															</ul>
														</li>
													</ul>
												</div>
											{% endif %}
										</div>
									</div>
			    				</div>
			    				<a href="#"><span></span></a>
			    			</div>
	    				{% endfor %}
	    			{% else %}
	    			    <div class="card question-card">
		    				<div class="card-body">
		    					<div class="row justify-content-center">
		    						<div class="card-text ml-2">
		    							<p class="h4">Nothing here</p>
		    							<span class="small text-muted"><i class="far fa-lightbulb"></i> favourited questions will appear here.</span> 
		    						</div>
		    					</div>
		    				</div>
		    				<a href="#"><span></span></a>
		    			</div>
    				{% endif %}
    			</div>
    		</div>
    	</div>
    </div>

    <!-- review modal -->
    <div class="modal fade bd-example-modal-lg" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content" style="background-color: #55688a;">
	      <div class="modal-body">
	        <h5 class="modal-title" id="exampleModalLabel"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <i class="fas fa-times"></i>
	        </button>
	      </div>
	      <div class="modal-body text-light">
	        <div id="carouselExampleControls" class="carousel slide" data-interval="false">
			  <div class="carousel-inner text-center">
			  	{% if questions %}
			        {% for question in questions %}
			    		{% if loop.index == 1 %}
			    			<div class="carousel-item active">
			    		{% else %}
			    	    	<div class="carousel-item">
			    		{% endif %}
				      		<div class="card" style="background-color: #55688a; border:0;">
						    	<div class="card-body p-5">
						    		<p class=" h6 lead">{{ question.text | capitalize}}</p>
						    	</div>
						    	<div class="card-body pb-1 pt-1">
						    		<a class="btn btn-sm btn-link text-light view-answer" data-page='{{ question.answer_page | capitalize}}' data-answer='{{ question.answer_text | capitalize }}'><i class="far fa-eye"></i></a>
						    	</div>
						    </div>
				    	</div>
			    	{% endfor %}
			    {% endif %}
			  </div>
			  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
	      </div>
	      <div class="modal-body text-right">
	        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
	      </div>
	    </div>
	  </div>
	</div>

{% endblock main %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
    	$('[data-toggle="tooltip"]').tooltip();
    </script>
{% endblock scripts %}