{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ super() }} Home - Study with questions {% endblock title %}

{% block head %} 
	{{ super() }} 
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block main %}
    <div class="container main">
    	<div class="row justify-content-center">
    		<div class="col-md-8 main-option-container">
    			<h1 class="d-inline">Your activity</h1>
    			<div class="text-right">
    				<button class="btn btn-dark m-auto btn-sm main-add-button" data-toggle="modal" data-target="#new-channel-modal"><i class="fas fa-plus"></i> Add a new channel</button>
    			</div>
    		</div>
    	</div>
    	<div class="row justify-content-center main-card-container">
				<div class="col-md-8">
					{% for a in articles %}
					<div class="">
						<div class="card main-card">
							<div class="card-body">
								<div class="row d-flex">
									<div class="col-md-10">
										{% set bb = (37/(5)) %}
										<div class="card-text h4"><a href="{{ url_for('main.channel', channel_key=bb)}}" class="channel-title">{{ a}}</a> </div>
										<div class="">
											<div class="small main-card-question-indicator">{{ bb |round|int }} questions</div>
											<div class="small main-card-last-added">Last added: 3 days ago</div>
										</div>
									</div>
									<div class="col-md-2 text-right">
										<div class="dropdown d-none ellipsis">
										  <a id="dropdownMenuButton" data-toggle="dropdown">
										    <i class="fas fa-ellipsis-v"></i>
										  </a>
										  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										    <a class="dropdown-item" href="#">Edit</a>
										    <a class="dropdown-item" href="#">Delete</a>
										  </div>
										</div>
									</div>
								</div>
							</div>
			    		</div>
		    		</div>
			    	{% endfor %}
				</div>
    	</div>
    </div>

    <!-- add new channel modal -->
	<div class="modal fade bd-example-modal-lg" id="new-channel-modal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="new-channel-modal-label">New channel </h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<div class="container">
	      		{{ wtf.form_field(form.channel) }}
	      		{{ wtf.form_field(form.description, rows='4') }}
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        {{ wtf.form_field(form.submit, class="btn btn-primary") }}
	      </div>
	    </div>
	  </div>
	</div>
{% endblock main %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}