{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %} {{super()}} Profile {% endblock %}

{% block head %}
	{{ super() }}
{% endblock head %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block main %}
    <div class="container main">
    	<div class="row justify-content-center">
    		<div class="offset-md-2 col-md-6 pb-2 pt-2">
    			<h4>Profile</h4>
    		</div>
    	</div>
    	<div class="row justify-content-center">
          <div class="col-md-2">
              {{ macros.user_profile(active_page, user) }}
          </div>
          <div class="col-md-6">
            {% include 'includes/message_flash.html' %}

            {% if( active_page == 'profile' ) %}
                {% include 'includes/profile_account.html' %}
            {% elif( active_page == 'security' ) %}
                {% include 'includes/profile_security.html' %}
            {% elif( active_page == 'delete') %}
                {% include 'includes/profile_delete.html' %}
            {% endif %}
          </div>  
    	</div> 
    </div>
{% endblock main %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}