
.modal-backdrop.show {
	opacity: 0.9;
}

a.app-title{
	text-decoration: none
}

/** home.html **/

div.top-navbar {
	background-color: #55688a;
	padding: 12px;
}

div.main {
	padding-top: 5px;
}

div.main-add-container {
	padding-bottom: 5px;
}

.main-option-container button.main-add-button {
	
}

div.main-card {
	margin-top: 10px;
	position: relative;
}

div.main-card a span {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}

a.channel-title:hover {
	text-decoration: none;
}

.main-card:hover {
	border-color: #999;
}

div.question-card .card-body .card-text a:hover {
	text-decoration: none;
}

/** add question .html **/
textarea {
  resize: none;
}