* {
	font-family: 'Assistant', sans-serif;
}

body {
	background-color: #f1efef82;
}

.modal-backdrop.show {
	opacity: 0.9;
}

a.app-title{
	text-decoration: none
}

/** landing.html **/

img.landing-screenshot {
	/*box-shadow: 0 1px 8px 0 #3644526e; */
	width: 70%; 
	height: 70%; 
	/*border-radius: 8px;*/
}

/** home.html **/

div.top-navbar {
	background-color: #55688a;
	padding: 12px;
}

div.main {
	padding-top: 5px;
}

div.main-add-container {
	padding-bottom: 5px;
}

.main-option-container button.main-add-button {
	
}

div.main-card {
	margin-top: 10px;
	position: relative;
}

div.main-card a span {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}

a.channel-title:hover {
	text-decoration: none;
}

.main-card:hover {
	border-color: #999;
}

div.question-card .card-body .card-text a:hover {
	text-decoration: none;
}


/** channel.html **/

div.question-card .card-body {
	padding: 15px;
	margin-left: 5px;
}

div.question-card {
	background-color: #d2c7c724;	
	margin: 4px;
	border: 0;
}

div.question-card .card-text a {
	color: #666;
}

div.question-card .card-body{}
/** add question.html **/
textarea {
  resize: none;
}