{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{super() }} Login {% endblock title %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block header %}
	<div class="container">
					  	  
    </div>
{% endblock header %}

{% block main %}
	{{ super() }}
    <div class="container">
	    <div class="row m-auto justify-content-center pt-4">
	    	<div class="col-md-6 col-sm-12 col-xs-12">
	    		<div class="card m-auto" >
	    			<div class="card-body">
	    				<p class="auth-page-heading h4 text-muted issa-header">Welcome back 🔮</p>
	    				<hr>
	    				<div class="mt-2">
					    	{% with messages = get_flashed_messages(with_categories=true) %}
							  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
							  {% if messages %}
							    {% for category, message in messages %}
							      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
							      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							      <!-- <strong>Title</strong> --> {{ message }}
							      </div>
							    {% endfor %}
							  {% endif %}
							{% endwith %}
					    </div>     	
	    				<form method="POST", action="{{ url_for('auth.login')}}">
	    					{{ form.hidden_tag() }}
							{{ wtf.form_errors(form, hiddens="only")}}
							{{ wtf.form_field(form.email, placeholder='e.g example@abc.com') }}
							{{ wtf.form_field(form.password) }}
							{{ wtf.form_field(form.submit, class='btn btn-primary btn-block') }}
	    				</form>
	    				<p class="text-center mt-2 mb-0 issa-header-bold small">OR</p>
	    				<form class="pt-2" action="{{ url_for('api.login') }}" method="POST" >
			        		<input type="hidden" name="timezone" id="timezone_google">
			        		<button type="submit" class="btn btn-block btn-outline-primary">
					        	<img class="" src="{{ url_for('main.static', filename='assets/google.svg') }}"> Log in with Google
					        </button>
			        	</form>
	                </div>
	                <div class="card-body pt-2">
	    				<div class="">
	    					<p class="mb-1 issa-header"><a href="{{ url_for('auth.password_reset_request') }}">🔑 Forgot your password ?</a></p>
	    					<p class="issa-header">💡 New to Issa challenge ? <a href="{{ url_for('auth.register') }}">Sign up.</a></p>
	    				</div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
{% endblock main %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
    	
    	(function(){
			var offset = new Date().getTimezoneOffset();
			$('#timezone').val(offset)
			$('#timezone_google').val(offset)
		}())

    </script>
{% endblock scripts %}