{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{super() }} Login {% endblock title %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block header %}
	<div class="pt-4 pb-4">
        <div class="container">
            <div class="row">
              <div class="col form-inline justify-content-center">
                    <h1 class="font-weight-normal ">
                        <a href="{{ url_for('main.home')}}" class="text-dark app-title"><i class="fas fa-brain"></i> <strong>Kelaa</strong></a>
                    </h1>
              </div>
          </div>
        </div>                
    </div>
{% endblock header %}

{% block main %}
	{{ super() }}
    <div class="container">
	    <div class="row m-auto justify-content-center">
	    	<div class="col-md-5 col-sm-8 col-xs-8">
	    		<div class="card m-auto authentication-card" >
	    			<div class="card-body">
	    				<p class="h5 text-muted text-center">Please sign in</p>
	    				<hr>
	    				<div class="mt-2">
					    	{% with messages = get_flashed_messages(with_categories=true) %}
							  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
							  {% if messages %}
							    {% for category, message in messages %}
							      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
							      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							      <!-- <strong>Title</strong> --> {{ message }}
							      </div>
							    {% endfor %}
							  {% endif %}
							{% endwith %}
					    </div>     	
	    				<form method="POST", action="{{ url_for('auth.login')}}">
	    					{{ form.hidden_tag() }}
							{{ wtf.form_errors(form, hiddens="only")}}
							{{ wtf.form_field(form.email, placeholder='e.g example@abc.com') }}
							{{ wtf.form_field(form.password) }}
							{{ wtf.form_field(form.submit, class='btn btn-primary btn-block') }}
	    				</form>
	                </div>
	                <div class="card-body pt-2">
	    				<div class="">
	    					<p class="mb-1"><a href="{{ url_for('auth.password_reset_request') }}">Forgot your password ?</a></p>
	    					<p>New to Kelaa  ? <a href="{{ url_for('auth.register') }}">Sign up.</a></p>
	    				</div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
{% endblock main %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
    	
    	(function(){
			var offset = new Date().getTimezoneOffset();
			$('#timezone').val(offset)
			$('#timezone_google').val(offset)
		}())

    </script>
{% endblock scripts %}