{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ super() }} Sign up {% endblock title %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block header %}
	<div class="pt-4 pb-2">
        <div class="container">
            <div class="row">
              <div class="col form-inline justify-content-center">
                    <h1 class="font-weight-normal ">
                        <a href="{{ url_for('main.landing')}}" class="text-dark app-title"><i class="fas fa-brain"></i> <strong>Kelaa</strong></a>
                    </h1>
              </div>
          </div>
        </div>                
    </div>
{% endblock header %}

{% block main %}
	{{ super() }}
    <div class="container">
	    <div class="row m-auto justify-content-center">
	    	<div class="col-md-5">
	    		<div class="card m-auto authentication-card">
	    			<div class="card-body">
	    				<p class="auth-page-heading h5 text-muted text-center">Sign up for Kelaa</p>
	    				<hr>
	    				<form method="POST", action="{{ url_for('auth.register')}}">
	    					{{ form.hidden_tag() }}
							{{ wtf.form_errors(form, hiddens="only")}}
							{{ wtf.form_field(form.email) }}
							{{ wtf.form_field(form.username) }}
							{{ wtf.form_field(form.password) }}
							{{ wtf.form_field(form.submit, class='btn btn-primary btn-block') }}
	    				</form>
	                </div>
	                <div class="card-body pt-1">
	                	<p>Already have an account ? <a href="{{ url_for('auth.login') }}">Log in.</a></p>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
{% endblock main %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}